@import "settings";
@import "mixins/mixins";
@import "bootstrap";
@import "global";
@import "typography";

$gray: #aaa;
$dark-gray: #333;
$light-gray: #eee;

* {
  font-family: "Ubuntu", sans-serif;
}

.link,
.link:hover {
  text-decoration: none;
  color: inherit;
}

.title {
  font-size: 36px;
}
