@import "../../../../sass/style.scss";

.location {
  padding: 90px 0;
  &-title {
    font-weight: bold;
  }
  &-list {
    display: flex;
  }
  &-list-item {
    width: 100%;
    &-title {
      font-size: 20px;
      font-weight: bold;
      color: #000;
      text-transform: uppercase;
      letter-spacing: 2px;
    }
    &-info {
      font-weight: bold;
      font-size: 16px;
    }
    &-desc {
      font-size: 14px;
    }
  }
}
